services:
  api-gateway:
    build: .
    container_name: api_gateway
    ports:
      - "8000:8000"  
    environment:
      # Internal Docker URLs
      - AUTH_SERVICE_URL=http://auth-service:8000
      - BOOK_SERVICE_URL=http://book-service:8000
      - ORDER_SERVICE_URL=http://order-service:8000
    networks:
      - bookstore-network

networks:
  bookstore-network:
    external: true  