# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Environments & Virtual Envs ---
.env
.env.docker
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Docker Specific ---
.dockerignore
docker-data/
postgres-data/

# --- Databases ---
*.sqlite
*.db

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
