services:
  db:
    image: postgres:15-alpine
    container_name: bookstore_db
    # This line pulls the DB name and Password from your .env.docker
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d bookstoredb"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: bookstore_app
    # This line pulls the DATABASE_URL from your .env.docker
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data: